<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8cc2529ef7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <navi class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <span>
            <%= link_to "Bookers", root_path ,class:"navbar-brand" %>
          </span>
          <% if user_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to user_path(current_user.id) ,class:"nav-link text-light" do %>
                  <i class="fa-solid fa-house"></i>
                  <span>Home</span>
                <% end %>
              </li>
              <li>
                <%= link_to users_path ,class:"nav-link text-light" do %>
                  <i class="fa-solid fa-users"></i>
                  <span>Users</span>
                <% end %>
              </li>
              <li>
                <%= link_to books_path ,class:"nav-link text-light" do%>
                  <i class="fa-solid fa-book-open"></i>
                  <span>Books</span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path,class:"nav-link text-light", method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <span>Log out</span>
                <% end %>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav ml-auto">
                <%= link_to root_path ,class:"nav-link text-light" do %>
                  <i class="fa-solid fa-house"></i>
                  <span>Home</span>
                <% end %>
              <li>
                <%= link_to about_path ,class:"nav-link text-light" do %>
                  <i class="fa-solid fa-link"></i>
                  <span>About</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path ,class:"nav-link text-light" do %>
                  <i class="fa-solid fa-user-plus"></i>
                  <span>Sign up</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path ,class:"nav-link text-light" do %>
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <span>Log in</span>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </navi>
    </header>
    <%= yield %>
    <footer>
      <div class="container mt-5">
  	    <div class="row">
        	<div class="mx-auto">
        		<p>CopyRight Infratop.inc</p>
        	</div>
        </div>
      </div>
    </footer>

  </body>
</html>
